@font-face {
  font-family: SegoeUI;
  font-display: swap;
  src: url("../fonts/SegoeUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SegoeUI;
  font-display: swap;
  src: url("../fonts/SegoeUI-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Consolas;
  font-display: swap;
  src: url("../fonts/Consolas.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SegoeUI;
  font-display: swap;
  src: url("../fonts/SegoeUI.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

input,
button,
textarea,
select {
  font-family: "SegoeUI",sans-serif;
  font-size: inherit;
  color: #fff;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "SegoeUI",sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
  background-color: #0b0c0f;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[class*=__container] {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3125rem 1.875rem;
}

.menu__link {
  display: inline-block;
  -webkit-transition: color .3s;
  transition: color .3s;
  font-size: 0.875rem;
  color: #aaabad;
}

.header {
  position: fixed;
  z-index: 5;
  padding: 0.875rem 0;
  background: #0d0f11;
  border-bottom: 0.0625rem solid #292b2d;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header__logo {
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.header__logo svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
}

.header__caption {
  font-family: "Consolas",sans-serif;
  font-size: 0.875rem;
  color: #aaabad;
}

.header__link {
  border: 0.0625rem solid #575759;
  border-radius: 1.375rem;
  background-color: #27282b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 0.875rem;
  max-width: 6.1875rem;
  padding: 0.3125rem 0.625rem;
  width: 100%;
  min-height: 2.5625rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__link path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.header__link svg {
  width: 0.8125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.8125rem;
          flex: 0 0 0.8125rem;
}

.hero {
  padding-top: 9.625rem;
  padding-bottom: 7.9375rem;
  position: relative;
  border-bottom: 0.0625rem solid #28292b;
}

.hero::before {
  content: "";
  position: absolute;
  position: absolute;
  width: 100%;
  height: 121%;
  top: -4.375rem;
  pointer-events: none;
  left: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.92%, rgba(255, 255, 255, 0.07)), color-stop(17.79%, rgba(255, 255, 255, 0)), color-stop(75.96%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 1.92%, rgba(255, 255, 255, 0) 17.79%, rgba(0, 0, 0, 0) 75.96%, rgba(0, 0, 0, 0.3) 100%);
}

.hero__title {
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
}

.hero__sub-title {
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.hero__sub-title:not(:last-child) {
  margin-bottom: 7.1875rem;
}

.hero__block {
  padding: 1rem 1.5625rem 2.25rem 1.5625rem;
  border: 0.0625rem solid #2e2f32;
  border-radius: 0.5rem;
  max-width: 45.75rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 2.25rem 0.375rem rgba(0,0,0,.25);
          box-shadow: 0 0 2.25rem 0.375rem rgba(0,0,0,.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#222326), color-stop(15.38%, #1b1c1f), color-stop(73.56%, #141517), to(#101114));
  background: linear-gradient(180deg, #222326 0%, #1b1c1f 15.38%, #141517 73.56%, #101114 100%);
}

.hero__caption {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

.hero__caption:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.hero__text {
  font-size: 0.875rem;
  text-align: center;
  color: #aaabad;
  display: -ms-grid;
  display: grid;
  gap: 0.3125rem;
}

.hero__text:not(:last-child) {
  margin-bottom: 1.75rem;
}

.hero__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 10.875rem 10.875rem 10.875rem;
  grid-template-columns: 10.875rem 10.875rem 10.875rem;
  gap: 2.5625rem;
}

.hero__item {
  border: 0.0625rem solid #2c2d2f;
  border-radius: 0.375rem;
  background: #101113;
  padding: 0.375rem 0.75rem 0.8125rem 0.75rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 0.3125rem;
}

.hero__value {
  font-weight: 700;
  font-size: 1.25rem;
}

.hero__label {
  font-size: 0.875rem;
  color: #aaabad;
}

.works {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

.works__title {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  color: #fff;
  margin-bottom: 3.0625rem;
}

.works__slider {
  position: relative;
  width: 100%;
  overflow: visible;
  padding: 0 3.125rem;
}

.works__slider::before {
  content: "";
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(30.29%, #0b0c0f), to(rgba(11, 12, 15, 0)));
  background: linear-gradient(90deg, #0b0c0f 30.29%, rgba(11, 12, 15, 0) 100%);
}

.works__slider::after {
  content: "";
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(30.29%, #0b0c0f), to(rgba(11, 12, 15, 0)));
  background: linear-gradient(270deg, #0b0c0f 30.29%, rgba(11, 12, 15, 0) 100%);
}

.works__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__slide {
  border: 0.0625rem solid #575759;
  border-radius: 0.625rem;
  overflow: hidden;
  width: 100%;
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  will-change: transform;
}

.works__slide.swiper-slide-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.works__media {
  position: relative;
  aspect-ratio: 530/298;
  width: 100%;
}

.works__media iframe,
.works__media img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__content {
  background-color: #131417;
  padding: 0.8125rem 0.8125rem 1.125rem 0.8125rem;
  display: -ms-grid;
  display: grid;
  gap: 0.3125rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-line-pack: start;
      align-content: start;
}

.works__caption {
  font-weight: 700;
  font-size: 1rem;
}

.works__text {
  font-size: 1rem;
  color: #aaabad;
}

.swiper-button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 31%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  right: 31%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.swiper-button-next.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
}

.swiper-button-next path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.about {
  margin-top: 4.8125rem;
  border-top: 0.0625rem solid #28292b;
  padding-top: 2.625rem;
  padding-bottom: 6.6875rem;
}

.about__title {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  color: #fff;
}

.about__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.about__block {
  border: 0.0625rem solid #2e2f32;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 2.25rem 0.375rem rgba(0,0,0,.25);
          box-shadow: 0 0 2.25rem 0.375rem rgba(0,0,0,.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#222326), color-stop(15.38%, #1b1c1f), color-stop(73.56%, #141517), to(#101114));
  background: linear-gradient(180deg, #222326 0%, #1b1c1f 15.38%, #141517 73.56%, #101114 100%);
  max-width: 40.625rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.375rem 1.375rem 2.625rem 1.375rem;
}

.about__text {
  font-size: 1rem;
  padding-bottom: 1.5625rem;
  text-align: center;
  border-bottom: 0.0625rem solid #28292b;
}

.about__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.about__caption {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 1rem;
  color: #aaabad;
}

.about__caption:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.about__list {
  padding-left: 2.5rem;
  display: -ms-grid;
  display: grid;
  gap: 0.0625rem;
}

.about__item {
  font-size: 1rem;
  color: #aaabad;
  list-style-type: disc;
}

.tutoring {
  border-top: 0.0625rem solid #28292b;
  padding-top: 2.625rem;
  padding-bottom: 5.8125rem;
}

.tutoring__title {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  color: #fff;
}

.tutoring__title:not(:last-child) {
  margin-bottom: 2.625rem;
}

.tutoring__block {
  border: 0.0625rem solid #2e2f32;
  border-radius: 0.5rem;
  padding: 2rem 1.125rem 0.625rem 1.125rem;
  max-width: 61.75rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 2.25rem 0.375rem rgba(0,0,0,.25);
          box-shadow: 0 0 2.25rem 0.375rem rgba(0,0,0,.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#222326), color-stop(15.38%, #1b1c1f), color-stop(73.56%, #141517), to(#101114));
  background: linear-gradient(180deg, #222326 0%, #1b1c1f 15.38%, #141517 73.56%, #101114 100%);
}

.tutoring__text {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  line-height: 160%;
}

.tutoring__text:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.tutoring__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-top: 0.0625rem solid #28292b;
}

.tutoring__column {
  padding-top: 1.0625rem;
  padding-bottom: 1.3125rem;
  padding-right: 0.3125rem;
}

.tutoring__column:first-child {
  padding-left: 0.3125rem;
  border-right: 0.0625rem solid #28292b;
}

.tutoring__column:last-child {
  padding-left: 0.75rem;
}

.tutoring__caption {
  font-size: 1rem;
  color: #aaabad;
}

.tutoring__list {
  margin-top: 0.1875rem;
  padding-left: 1.25rem;
  display: -ms-grid;
  display: grid;
  gap: 0.0625rem;
}

.tutoring__item {
  font-size: 1rem;
  color: #aaabad;
  list-style-type: disc;
}

.tutoring__value {
  margin-top: -0.3125rem;
  font-size: 0.875rem;
  color: #aaabad;
}

.tutoring__value span {
  color: #fff;
  font-size: 2.5rem;
}

.tutoring__heading {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  font-size: 1rem;
}

.tutoring__desc {
  margin-top: 0.1875rem;
  font-size: 1rem;
  color: #aaabad;
}

.footer {
  background: #000;
  border-top: 0.0625rem solid #28292b;
  padding-top: 2.0625rem;
  padding-bottom: 5.25rem;
  text-align: center;
}

.footer__title {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.footer__link {
  border: 0.0625rem solid #575759;
  border-radius: 1.375rem;
  background-color: #27282b;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 0.875rem;
  max-width: 6.1875rem;
  padding: 0.3125rem 0.625rem;
  width: 100%;
  min-height: 2.5625rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__link:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.footer__link path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.footer__link svg {
  width: 0.8125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.8125rem;
          flex: 0 0 0.8125rem;
}

.footer__text {
  font-family: "Consolas",sans-serif;
  font-size: 0.875rem;
  text-align: center;
  color: #aaabad;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #fff;
  }

  .header__link:hover {
    border: 0.0625rem solid #fff;
    background-color: #fff;
    color: #27282b;
  }

  .header__link:hover path {
    fill: #27282b;
  }

  .swiper-button-prev:hover path {
    fill: #fff;
  }

  .swiper-button-next:hover path {
    fill: #fff;
  }

  .footer__link:hover {
    border: 0.0625rem solid #fff;
    background-color: #fff;
    color: #27282b;
  }

  .footer__link:hover path {
    fill: #27282b;
  }
}